html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
input,
textarea,
select,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  outline: none;
  line-height: 100%;
  box-sizing: border-box;
}

/* li {
	list-style-type: none;
} */

a {
  text-decoration: none;
  color: black;
}

p {
  padding: 5px 0;
}

button:hover {
  cursor: pointer;
}

body {
  width: 100%;
  background: url("../img/drawnBG.jpg") repeat center fixed;
  /* -webkit-background-size: cover; */
}

.masterbox {
  width: 800px;
  margin: 0 auto;
  background: white;
  padding: 0 1.5rem;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
}

header {
  /* width: 100%; */
  /* height: 70px; */
  /* background: #FFF0F5; */
  padding: 10px 0;
}

.phoneHeader {
  width: 100%;
  display: none;
  background-color: #f7f5f5;
  padding: 10px 0;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
}

.logo {
  padding: 5px 10px;
}

.buttonRSVPDesktop {
  background-color: #e8b1b4; /* Green */
  border: black;
  padding: 0px 10px;
  font-size: 20px;
  float: center;
  margin: 20px auto;
  border-radius: 100px;
  width: 20%;
  text-align: center;
}

.buttonRSVP {
  background-color: #e8b1b4; /* Green */
  border: black;
  color: white;
  padding: 0px 10px;
  font-size: 20px;
  float: center;
  margin: 0 auto;
  border-radius: 100px;
}

.phoneHeaderRightBox {
  text-align: right;
  display: inline-block;
  padding: 5px 10px;
  float: right;
}

.NavEmptyBox {
  height: 30px;
}

.wrapper {
  margin: 0 auto;
  text-align: center;
}

.header_text {
  margin: 0 auto;
}

.header_text_name_and {
  display: inline-block;
  font-family: "Playfair Display", sans-serif;
  font-size: 50px;
}

.header_text_name_left {
  font-size: 40px;
  font-family: "Raleway", sans-serif;
  display: inline-block;
}

.header_text_name_right {
  font-size: 40px;
  font-family: "Raleway", sans-serif;
  text-align: center;
  display: inline-block;
}

.header_text_belowname {
  font-size: 20px;
  text-align: center;
  font-family: "Dancing Script", cursive;
  margin: 20px 0;
}

.header_text_hotelname {
  font-size: 30px;
  text-align: center;
  font-family: "Dancing Script", cursive;
  margin: 20px 0;
}

.nav__list_header {
  list-style-type: none;
  padding: 0;
}

.toggle {
  display: none;
}

.nav {
  display: inline-block;
  width: 100%;
  /* font-family: 'Dancing+Script', cursive; */
  font-family: "Cormorant Garamond", serif;
  text-align: center;
  font-size: 20px;
}

.nav__list {
  list-style-type: none;
  padding: 0;
  width: 65%;
  margin: 0 auto;
  text-indent: none;
}

.nav__item {
  display: inline;
  padding: 0 5px;
}

.nav__item.RSVP {
  font-weight: bold;
  font-size: 20px;
}

.nav__align {
  display: inline-block;
  padding: 10px 0;
  font-size: 30px;
}

.nav__align__aboutus {
  display: inline-block;
  padding: 10px 0;
  /* font-size: 10px; */
}

.nav__item:last-child {
  padding: 0 0 0 10px;
}

.notice_box {
  border: 3px solid #ff6f6ff5;
  font-size: 22px;
  color: #ff5e5e;
  margin: 25px auto;
  text-align: center;
  padding: 10px 2px;
}

.countdown {
  width: 100%;
  margin: 10px auto;
  text-align: center;
  font-size: 40px;
  font-family: "Dancing Script", cursive;
}

.content {
  /* color: #0F0407; */
  height: 500px;
  background: url("../img/lakeDistrict.jpeg") no-repeat center center;
  background-size: 100%;
}

.content_programme {
  color: #0f0407;
  height: 700px;
  background: url("../img/organisationscroll.png") no-repeat center 0;
  /* background-size: cover; */
}

.content__emptybox__home {
  height: 20px;
  width: 100%;
}

.content__emptybox__programme {
  height: 170px;
  width: 100%;
}

.content__emptybox2 {
  height: 50px;
  width: 100%;
}

.centerbox {
  margin: 10px auto;
  /* width: 200px; */
  text-align: center;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

.align_center {
  width: 30%;
  text-align: center;
}

.programContent {
  width: 45%;
  font-size: 30px;
  margin: auto;
}

.align_rightbox {
  width: 50%;
  text-align: left;
}

.content__rsvp {
  background: rgba(0, 0, 0, 0.6);
  width: 40%;
  margin: 0 auto;
  color: #fff;
  font-family: "Raleway", sans-serif;
}

.content__head {
  /* background: rgba(196, 193, 238, 0.6); */
  /* width: 40%; */
  margin: 0 auto;
  color: black;
  font-size: 70px;
  font-weight: bold;
  font-style: italic;
  font-family: "Cedarville Cursive", cursive;
}

.content__h1 {
  /* background: rgba(196, 193, 238, 0.6); */
  margin: 30px 0;
  color: #101010;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  font-family: "Playfair Display", serif;
}

.h1_text {
  line-height: 30px;
}

.content__h2 {
  /* background: rgba(196, 193, 238, 0.6); */
  width: 40%;
  margin: 0 auto;
  color: #101010;
  font-size: 20px;
  font-weight: bold;
  /* font-style: italic; */
  font-family: "Playfair Display", serif;
}

.content__details__list {
  background: rgba(218, 214, 214, 0.6);
  width: 100%;
  margin: 10 auto;
  color: #fff;
  font-size: 20px;
  font-family: "Cormorant Garamond", serif;
}

.content__details {
  display: inline;
  margin: 0 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
}

.column {
  flex: 33%;
  padding: 0 40px;
}

.centerboxRSVP {
  text-align: left;
}

.rsvpEmptyBox1 {
  height: 20px;
}

.formLabel {
  width: 100%;
  display: block;
  padding: 1.5rem 0 0.5rem;
}

input {
  border-radius: 5px;
}

input[type="text"],
select {
  width: 100%;
  padding: 1rem;
  border: 1px solid #999;
  font-size: 1rem;
  line-height: 1.25rem;
}

input[type="email"],
select {
  width: 100%;
  padding: 1rem;
  border: 1px solid #999;
  font-size: 1rem;
  line-height: 1.25rem;
}

input[type="submit"] {
  width: 20%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 20px auto;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}

textarea {
  width: 100%;
  border-radius: 4px;
  overflow-wrap: break-word;
  border: 1px solid #999;
}

#registeredList {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

#registeredList td,
#registeredList th {
  border: 1px solid grey;
  padding: 5px 5px;
}

footer {
  color: #a19fa0;
  text-align: center;
  padding: 30px 0;
}

.footer_link {
  color: #a19fa0;
}

.footer_link:hover {
  color: #0f0407;
}

.footertext {
  margin: 10px 0 0 0;
}

.footertext:first-child {
  font-style: italic;
}

.footertext:nth-child(2) {
  font-style: italic;
}

.travelHeading {
  font-weight: bold;
  text-decoration: underline;
  font-size: 20px;
  margin: 10px 0;
}

.travelSubHeading {
  font-weight: bold;
  text-decoration: underline;
  font-size: 15px;
  margin: 10px 0;
}

.travelUL {
  list-style-type: circle;
  text-indent: 2rem;
}

@media only screen and (max-width: 425px) {
  /* body {
    background: url('../img/drawnBG.jpg') no-repeat center fixed;
  }  */

  header {
    width: auto;
    background: url("../img/drawnBG.jpg") repeat center fixed;
    -webkit-background-size: contain;
  }

  .phoneHeader {
    display: flex;
    position: fixed;
  }

  .masterbox {
    width: 100%;
    background: transparent;
    padding: 0 1.5rem;
    box-shadow: none;
  }

  .header_text_name_left {
    margin: 10px auto;
    width: auto;
  }

  .header_text_name_and {
    margin: 10px auto;
    width: auto;
  }

  .header_text_name_right {
    margin: 10px auto;
    width: auto;
  }

  .countdown {
    font-size: 30px;
  }

  .buttonRSVPDesktop {
    display: none;
  }

  .nav {
    width: 100%;
    /* font-family: 'Dancing+Script', cursive; */
    font-family: "Cormorant Garamond", serif;
    text-align: center;
    font-size: 20px;
    position: fixed;
    height: 0px;
    background-color: #fff;
    top: 25px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 0;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    display: none;
  }

  .nav__list_header {
    background-color: white;
    height: 100vh;
  }

  .nav__item {
    display: block;
    margin: 20px 0 0 0;
  }

  .toggle:checked ~ .nav {
    display: block;
    /* vertical-align: middle;
    opacity: 1; */
  }

  .content {
    height: 300px;
  }

  .content__emptybox2 {
    height: 35px;
  }

  .content__head {
    font-size: 30px;
  }

  input[type="submit"] {
    width: 30%;
  }

  .content_programme {
    background: none;
  }

  .content__emptybox__programme {
    display: none;
  }

  .programContent {
    width: 100%;
    font-size: 15px;
  }

  .content_programme {
    height: auto;
  }

  #registeredList {
    font-size: 10px;
  }
}
